.env
*.log
*.tmp
__pycache__
__pycache__/
secrets.env
API/media/
API/AcheiUnB/__pycache__/
API/users/__pycache__/
API/chat/__pycache__/
API/chat/migrations/__pycache__
API/AcheiUnB/__pycache__/__init__.cpython-312.pyc
API/AcheiUnB/__pycache__/urls.cpython-312.pyc
API/AcheiUnB/__pycache__/wsgi.cpython-312.pyc
API/users/__pycache__/__init__.cpython-312.pyc
API/users/__pycache__/apps.cpython-312.pyc
API/users/__pycache__/admin.cpython-312.pyc
API/users/__pycache__/models.cpython-312.pyc
API/users/__pycache__/views.cpython-312.pyc
API/users/migrations/__pycache__/__init__.cpython-312.pyc
